* {
  box-sizing: border-box;
}

body {
  background: #EBE9E6;
}

/* header-row css */

.header-row {
  display: flex;
  align-items: center;
  height: 72px;
  background: #FCFAFA;
  justify-content: center;
  padding: 18px 0px;
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  
  
}

/*  1-img */
/* .LogoGrp {
  width: 56px;
  margin-top: 18px;
  margin-bottom: 18px;
}

.Logo {
  margin-left: 5px;
  padding: 18px 0;
  font-size: 28.736px;
  font-weight: 700;
  margin-bottom: 5px;
} */

.img {
  display: flex;
  width: 112px;
  height: 36px;
  justify-content: center;
  align-items: center;
}

.second-page-header {
  display: flex;
  align-items: center;
  height: 72px;
  background: #FCFAFA;
  margin: auto;
  max-width: 1440px; 
  
}

.submit-btn {
  margin-left: 50px;
  padding: 16px 35px;
  border-radius: 4px;
  border: 2px solid #f4d150;
  background: #feeeb4;
  box-shadow: 0 4px 7px 0 #b3ae9c;
}


/* .Line {
  margin-left: 400px;
  padding: 18px 0;
  font-size: 28.736px;
  font-weight: 700;
  margin-bottom: 5px;
} */


/* portal css */
/* / */

h1 {
  text-align: center;
  color: #4C4B49;
  font-family: Inter;
  font-size: 24px;
  /* font-style: normal; */
  font-weight: 600;
  line-height: 120%;
  letter-spacing: -0.48px;
  margin-top: 60px;

}

.portal-box1 {
  border: 3px solid hwb(144 86% 8%);
  width: 705px;
  height: 620px;
  margin: auto;
  background-color: white;
} 

.portal-box2 {
  width: 471px;
  height: auto;
  margin: auto;
}

.h3 {
  margin-top: 40px;
  margin-bottom: 16px;
} 


p {
  color: #000;
  /* text-align: center; */
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}

ul {
  color: #4C4B49;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; 
}

p {
  color: #4C4B49;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;

}



h4 {
  color: #4C4B49;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-top: -15px;
}

hr {
  width: 620px;
  height: 1px;
  background: #4C4B49;
  margin-bottom: 39px;

}

.portal-btn {
  padding: 16px 35px;
  margin-left: 40%;
  border-radius: 10px;
  border: 2px solid #F4D150;
  background: #FEEEB4;
  box-shadow: 0px 4px 7px 0px #B3AE9C;
}



.footer{
  display: flex;
  margin: auto;
  height: 171px;
  justify-content: center;
  align-items: center;
  background: #4C4B49;
  margin-top: 143px;
  max-width: 1440px;
  padding: 46px 0px 68px 0px;

}


.p1 {
  width: 57px;
  height: 22px;
  margin-left: 115px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 18px;
  color: white;

}


.p2 {
  font-family: "Inria Sans";
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  width: 289px;
  height: 17px;
  color: white;
}

/* submission */
.submission-box1 {
  width: 705px;
  height: auto;
  border: 1px solid rgb(231, 234, 238);
  background-color: white;
  margin: auto;
  margin-top: 103px;

}

.tick {
  margin: auto;
  width: 28px;
  height: 28px; 
  background-color: #88BE37;
  border-radius:15px;
  padding:4px 8px;
  margin-top: 93px;
}



.submission-box2 {
  width: 320px;
  height: auto;
  margin: auto;
}

.submission-box2,
h1 {
  color:#1F1E1C;
  font-family: Inter;
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  margin-top: 22px;
}

.submission-box2,
h2 {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 160%;
}

.submission-box2,
p {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}


.Score-btn {
  width: 222px;
  height: 54px;
  margin-top: 89px;
  margin-bottom: 108px;
  padding: 16px 35px;
  margin-left: 230px;
  border-radius: 10px;
  border: 2px solid #F4D150;
  background: #FEEEB4;
  box-shadow: 0px 4px 7px 0px #B3AE9C;
}


/* Mobile view */
@media (max-width: 767px) {
  .submission-box1 {
      width: 320px;
      height: auto;
  }

  .submission-box2,
  h2 {
      margin-top: 36px;
  }
  
  .Score-btn {
      margin-left: 50px;
      margin-bottom: 60pxpx;
      margin-top: 50px;
  }

  .submission-box2 {
      width: 280px;
  }

  .tick {
      margin-top: 60px;
      margin-bottom: 57px;
  }
}